

#Itunes {


   /* justify-content: center;
   justify-content: space-around; */
   /* text-align: center; */
   /* background-size: cover;
   background-repeat: repeat; */
   margin-top: 10px;
}

#reactsx {
  width: 45%;
    border:1px #fff solid;
}

.explicit::before {
  content:"(Explicit) ";
  color:red;

}

.ituneKhaled {
  width: 20%;
  margin-left: 500px;
  height: 700px;
}
