#Itunes {
   background-image:url('https://s3.amazonaws.com/hiphopdx-production/2017/06/DJ-Khaled-4-by-Mike-Lavin-@thehomelesspimp-1-800x600.jpg');
   width:100%;
}

#reactsx {
  border: solid 5px #42e2f4;
  border-radius: 7px;
  background-color:black;
  margin-left:3em;
  width:50%;
}

.explicit::before {
  content:"(Explicit) ";
  color:red;
}
