

.khaledvid1 {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 90px;
  border: solid white;
}

.khaledvid2 {
  border: solid white;

}

.nowPlaying {
  display: flex;

  flex-direction: column;
  align-items: center;

}

.songText1 {
  margin-top: 30px;
  margin-bottom: -10px;

}

.song {
  display: flex;
  justify-content: center;
  margin-top: 25px;
    background: linear-gradient(black, #42e2f4)

}

.khaledvid3 {
  border: solid white;
}

.khaledmovie {
  margin-top: 20px;
  margin-left: 70px;
  width: 90%;
  border: solid white;
}


.musicMain{

}
.songList {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
#selectBar {
  width: 300px;
  height: 25px;
  border: solid white;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
    background: linear-gradient(#42e2f4, black);
    margin-top: 10px;


}

.bio > p {
  margin-bottom: -10px;

}
