/* #music {
  height: 90vh;
  background-image: url(https://media.giphy.com/media/228h7wzP0sYiQ/giphy.gif);
  background-size: contain;
} */
/* #instagram {
  height: 90vh;
  background-image: url(https://media.giphy.com/media/8Fc4OjBazuOTC/giphy.gif);
  background-size: contain;
}
#shop {
  height: 90vh;
  background-image: url(https://media.giphy.com/media/AgYbJ0jc7wA7e/giphy.gif);
  background-size: contain;
}
#twitter {
  height: 90vh;
  background-image: url(https://media0.giphy.com/media/Pn1gZzAY38kbm/giphy-downsized.gif);
  background-size: contain;
}
#video {
  height: 90vh;
  background-image: url(https://media.giphy.com/media/NGALQBUgvmVTa/giphy.gif);
  background-size: contain;
} */
